* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #477dca), color-stop(100%, #2760b2));
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #628cc8;
    cursor: pointer;
    background-color: #3c71bb;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c71bb), color-stop(100%, #255aa5));
    background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
    background-image: linear-gradient(#3c71bb, #255aa5); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled) {
    border: 1px solid #2459a6;
    box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397, 0 1px 1px 0 #eeeeee; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

.results {
  background-color: white; }
  .results #wrapper {
    *zoom: 1;
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .results #wrapper:before, .results #wrapper:after {
      content: " ";
      display: table; }
    .results #wrapper:after {
      clear: both; }
    .results #wrapper:before, .results #wrapper:after {
      content: " ";
      display: table; }
    .results #wrapper:after {
      clear: both; }
    .results #wrapper:last-child {
      margin-right: 0; }
  .results #search {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .results #search:last-child {
      margin-right: 0; }
  .results #toggle {
    *zoom: 1;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-left: 25.58941%;
    height: 25px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    background-color: silver; }
    .results #toggle:before, .results #toggle:after {
      content: " ";
      display: table; }
    .results #toggle:after {
      clear: both; }
    .results #toggle:last-child {
      margin-right: 0; }
    .results #toggle a:link {
      color: black; }
    .results #toggle a:visited {
      color: black; }
    .results #toggle a:hover {
      color: black;
      font-weight: bold; }
    .results #toggle li {
      display: inline;
      margin: 0 10px;
      font-size: 14px; }
  .results #member_pic {
    *zoom: 1;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .results #member_pic:before, .results #member_pic:after {
      content: " ";
      display: table; }
    .results #member_pic:after {
      clear: both; }
    .results #member_pic:last-child {
      margin-right: 0; }
  .results #graphs {
    *zoom: 1;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .results #graphs:before, .results #graphs:after {
      content: " ";
      display: table; }
    .results #graphs:after {
      clear: both; }
    .results #graphs:last-child {
      margin-right: 0; }

#wrapper {
  *zoom: 1;
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: repeat;
  color: white;
  padding: 15px; }
  #wrapper:before, #wrapper:after {
    content: " ";
    display: table; }
  #wrapper:after {
    clear: both; }

body {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  background-image: url("../mock_images/chamber.jpg");
  box-shadow: 0px 0px 25px black;
  background-position: absolute;
  bottom: 5px;
  background-repeat: no-repeat;
  background-size: cover; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }

.centered {
  background-color: black;
  color: white;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .centered:last-child {
    margin-right: 0; }

#graph {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  #graph:last-child {
    margin-right: 0; }

#search {
  *zoom: 1;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  padding-top: 25px; }
  #search:before, #search:after {
    content: " ";
    display: table; }
  #search:after {
    clear: both; }
  #search:before, #search:after {
    content: " ";
    display: table; }
  #search:after {
    clear: both; }
  #search:last-child {
    margin-right: 0; }

#button {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #477dca), color-stop(100%, #2760b2));
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  #button:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #628cc8;
    cursor: pointer;
    background-color: #3c71bb;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c71bb), color-stop(100%, #255aa5));
    background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
    background-image: linear-gradient(#3c71bb, #255aa5); }
  #button:active:not(:disabled) {
    border: 1px solid #2459a6;
    box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397, 0 1px 1px 0 #eeeeee; }
  #button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

#main-img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  align: bottom;
  padding-bottom: 15px; }
  #main-img:last-child {
    margin-right: 0; }

#member-pic {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  #member-pic:last-child {
    margin-right: 0; }

.toggle {
  *zoom: 1;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-left: 25.58941%;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  background-color: silver; }
  .toggle:before, .toggle:after {
    content: " ";
    display: table; }
  .toggle:after {
    clear: both; }
  .toggle:last-child {
    margin-right: 0; }
  .toggle a:link {
    color: black; }
  .toggle a:visited {
    color: black; }
  .toggle a:hover {
    color: black;
    font-weight: bold; }
  .toggle li {
    display: inline;
    margin: 0 10px;
    font-size: 14px; }

#result {
  *zoom: 1; }
  #result:before, #result:after {
    content: " ";
    display: table; }
  #result:after {
    clear: both; }
  #result img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    background-color: white; }
    #result img:last-child {
      margin-right: 0; }
  #result ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    #result ul:last-child {
      margin-right: 0; }
    #result ul li.block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      border-style: solid;
      border-width: 1px;
      height: 250px; }
      #result ul li.block:last-child {
        margin-right: 0; }
      #result ul li.block:nth-child(2n) {
        margin-right: 0; }
      #result ul li.block:nth-child(2n+1) {
        clear: left; }
      #result ul li.block img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        height: 250px; }
        #result ul li.block img:last-child {
          margin-right: 0; }

#one-c {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  #one-c:last-child {
    margin-right: 0; }

#two-c {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  #two-c:last-child {
    margin-right: 0; }

#three-c {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  #three-c:last-child {
    margin-right: 0; }

#four-c {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  #four-c:last-child {
    margin-right: 0; }

#five-c {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  #five-c:last-child {
    margin-right: 0; }

#six-c {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #six-c:last-child {
    margin-right: 0; }

#seven-c {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  #seven-c:last-child {
    margin-right: 0; }

#eight-c {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  #eight-c:last-child {
    margin-right: 0; }

#nine-c {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  #nine-c:last-child {
    margin-right: 0; }

#ten-c {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  #ten-c:last-child {
    margin-right: 0; }

#eleven-c {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%; }
  #eleven-c:last-child {
    margin-right: 0; }

#twelve-c {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #twelve-c:last-child {
    margin-right: 0; }
