@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'bitters/bitters';

.results {
  background-color:white;
  #wrapper {
    @include clearfix;
    @include outer-container;
    @include span-columns(12);
  }

  #search {
    @include span-columns(10);
  }

  #toggle {
    @include clearfix;
    @include span-columns(9);
    @include shift(3);
    height: 25px;
    border-style:solid;
    border-width:1px;
    text-align:center;
    background-color:silver;
    a:link {

      color: black;
    }
    a:visited {
      color: black;
    }
    a:hover {
      color: black;
      font-weight: bold;
    }

    li {
      display: inline;
      margin: 0 10px;
      font-size: 14px;
    }
  }

  #member_pic {
    @include clearfix;
    @include span-columns(3);
  }

  #graphs {
    @include clearfix;
    @include span-columns(9);
  }
  
  
}


#wrapper {
  @include clearfix;
  background-color: rgba(black, 0.8);
  background-repeat: repeat;
  color: white;
  padding: 15px;
}

body {
  @include outer-container;
  @include clearfix;
  background-image:url("../mock_images/chamber.jpg");
  box-shadow: 0px 0px 25px black;
  background-position: absolute;
  bottom: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  }

.centered {
  background-color: black;
  color: white;
  @include span-columns(10);
  @include shift(1);
}

#graph {
  @include span_columns(9);
}
#search {
  @include clearfix;
  @include outer-container;
  @include span_columns(10);
  padding-top: 25px;
}

#button {
  @include button(simple, $base-accent-color);
  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1em;}

#main-img {
  @include span-columns(8);
  @include shift(2);
  align: bottom;
  padding-bottom: 15px;
}

#member-pic{
  @include span_columns(3);
}

.toggle {
  @include clearfix;
  @include span-columns(9);
  @include shift(3);
  height: 25px;
  border-style:solid;
  border-width:1px;
  text-align:center;
  background-color:silver;
    a:link {
      
      color: black;
    }
    a:visited {
      color: black;
    }
    a:hover {
      color: black;
      font-weight: bold;
    } 

  li {
  display: inline;
  margin: 0 10px;
  font-size: 14px;
  }
}

#result {
  @include clearfix;

  img {
    @include span_columns(3);
    background-color: white;
  }

  ul {
    @include span_columns(9);

    li.block {
      @include span-columns(6);  
      @include omega(2n);
      
      border-style:solid;
      border-width:1px;
      height:250px;

      img {
        @include span-columns(12);
        height: 250px;
      }
    } 
  }
}

#one-c{
  @include span_columns(1); 
}

#two-c{
  @include span_columns(2); 
}

#three-c{
  @include span_columns(3); 
}

#four-c{
  @include span_columns(4); 
}

#five-c{
  @include span_columns(5);
}

#six-c{
  @include span_columns(6);
}

#seven-c{
  @include span_columns(7);
}

#eight-c{
  @include span_columns(8);
}

#nine-c{
  @include span_columns(9);
}

#ten-c{
  @include span_columns(10);
}

#eleven-c{
  @include span_columns(11);
}
#twelve-c{
  @include span_columns(12);
}

